.pagination {
  display: flex;
  // 1-2: Disable browser default list styles
  padding-left: 0; // 1
  list-style: none; // 2

  justify-content: center;
  @include border-radius();
  @media (max-width: 767px) {
    justify-content: space-between;
  }
}

.page-item {
  &:first-child {
    .page-link {
      margin-left: 0;
      @include border-left-radius($border-radius);
      .svg-wrap {
        transform: rotate(180deg);
      }
    }
  }
  &:last-child {
    .page-link {
      @include border-right-radius($border-radius);
    }
  }

  &.active .page-link {
    z-index: 2;
    color: $c_main_l;
  }

  &.disabled {
    .svg-wrap {
      
      fill: $c_l_light;
    }
    .page-link {
      color: $c_gray_dark;
      pointer-events: none;
    }
  }
}

.page-link {
  position: relative;
  display: block;
  padding: $pagination-padding-y $pagination-padding-x;
  margin-left: -1px;
  line-height: $pagination-line-height;
  color: $c_gray_darkest;
  font-size: 24px;
  font-family: 'SegoeUIBold';
  transition: .25s;
  @media (max-width: 767px) {
    font-size: 24px;
    padding-left: 5px;
    padding-right: 5px;
  }

  @include hover-focus {
    color: $c_main_l;
    text-decoration: none;
    .svg-wrap {
      fill: $c_main_l !important;
    }
  }

  .svg-wrap {
    width: 47px;
    height: 11px;
    display: inline-block;
    vertical-align: middle;
    margin-top: -5px;
    fill: $c_gray_darkest;
    transition: .25s;
  }
}


//
// Sizing
//

.pagination-lg {
  @include pagination-size($pagination-padding-y-lg, $pagination-padding-x-lg, $font-size-lg, $line-height-lg, $border-radius-lg);
}

.pagination-sm {
  @include pagination-size($pagination-padding-y-sm, $pagination-padding-x-sm, $font-size-sm, $line-height-sm, $border-radius-sm);
}
