

	@font-face {
			font-family: "RobotoRegular";
			src: url("../Roboto/RobotoRegular/RobotoRegular.eot");
			src: url("../Roboto/RobotoRegular/RobotoRegular.eot?#iefix")format("embedded-opentype"),
			url("../Roboto/RobotoRegular/RobotoRegular.woff") format("woff"),
			url("../Roboto/RobotoRegular/RobotoRegular.ttf") format("truetype");
			font-style: normal;
			font-weight: normal;
	}

	@font-face {
			font-family: "RobotoLight";
			src: url("../Roboto/RobotoLight/RobotoLight.eot");
			src: url("../Roboto/RobotoLight/RobotoLight.eot?#iefix")format("embedded-opentype"),
			url("../Roboto/RobotoLight/RobotoLight.woff") format("woff"),
			url("../Roboto/RobotoLight/RobotoLight.ttf") format("truetype");
			font-style: normal;
			font-weight: normal;
	}

	@font-face {
			font-family: "RobotoMedium";
			src: url("../Roboto/RobotoMedium/RobotoMedium.eot");
			src: url("../Roboto/RobotoMedium/RobotoMedium.eot?#iefix")format("embedded-opentype"),
			url("../Roboto/RobotoMedium/RobotoMedium.woff") format("woff"),
			url("../Roboto/RobotoMedium/RobotoMedium.ttf") format("truetype");
			font-style: normal;
			font-weight: normal;
	}

	@font-face {
			font-family: "RobotoBold";
			src: url("../Roboto/RobotoBold/RobotoBold.eot");
			src: url("../Roboto/RobotoBold/RobotoBold.eot?#iefix")format("embedded-opentype"),
			url("../Roboto/RobotoBold/RobotoBold.woff") format("woff"),
			url("../Roboto/RobotoBold/RobotoBold.ttf") format("truetype");
			font-style: normal;
			font-weight: normal;
	}



	@font-face {
			font-family: "Roboto";
			src: url("../Roboto/RobotoRegular/RobotoRegular.eot");
			src: url("../Roboto/RobotoRegular/RobotoRegular.eot?#iefix")format("embedded-opentype"),
			url("../Roboto/RobotoRegular/RobotoRegular.woff") format("woff"),
			url("../Roboto/RobotoRegular/RobotoRegular.ttf") format("truetype");
			font-style: normal;
			font-weight: normal;
	}

	@font-face {
			font-family: "Roboto";
			src: url("../Roboto/RobotoLight/RobotoLight.eot");
			src: url("../Roboto/RobotoLight/RobotoLight.eot?#iefix")format("embedded-opentype"),
			url("../Roboto/RobotoLight/RobotoLight.woff") format("woff"),
			url("../Roboto/RobotoLight/RobotoLight.ttf") format("truetype");
			font-style: normal;
			font-weight: 100;
	}

	@font-face {
			font-family: "Roboto";
			src: url("../Roboto/RobotoMedium/RobotoMedium.eot");
			src: url("../Roboto/RobotoMedium/RobotoMedium.eot?#iefix")format("embedded-opentype"),
			url("../Roboto/RobotoMedium/RobotoMedium.woff") format("woff"),
			url("../Roboto/RobotoMedium/RobotoMedium.ttf") format("truetype");
			font-style: normal;
			font-weight: 300;
	}

	@font-face {
			font-family: "Roboto";
			src: url("../Roboto/RobotoBold/RobotoBold.eot");
			src: url("../Roboto/RobotoBold/RobotoBold.eot?#iefix")format("embedded-opentype"),
			url("../Roboto/RobotoBold/RobotoBold.woff") format("woff"),
			url("../Roboto/RobotoBold/RobotoBold.ttf") format("truetype");
			font-style: normal;
			font-weight: 700;
	}