.consult {
  margin: 30px 70px 20px;
  &__filter {
    .form-group {
      label {
        font-family: "SegoeUIBold";
        & + [type="text"] {padding-top: 0;}
      }
    }
    .action-btns {
      margin: $R*2 0 $R*4;
      text-align: right;
      .btn-1 {
        margin-right: $R;
      }
      .clear-filter {
        cursor: pointer;
        border-bottom: 1px dashed;
        transition: .25s;
        &:hover {
          color: $c_main_l;
        }
      }
    }
  }
  &__table {
    tr {
      th {
        font-size: 18px;
        font-family: 'SegoeUIBold';
        white-space: nowrap;
        padding: 0 3px;
        padding-bottom: 30px;
        vertical-align: top;
        & + th {padding-left: 40px;}
      }
      td {
        font-size: 16px;
        line-height: 18px;
        color: $c_gray_darkest;
        vertical-align: top;
        padding: 8px 3px;
        & + td {padding-left: 40px;}
        &:nth-child(1) {
          vertical-align: middle;
        }
        a {
          color: $c_blue;
          &:hover {
            color: $c_blue_l;
          }
        }
      } 
      &:nth-child(2n) {
        background: #f0efee;
      }
    }
  }
  &__last_questions {
    padding-top: 20px;
    position: relative;
    &:before {
      content: '';
      position: absolute;
      top: 0;
      height: 1px;
      left: 0;
      right: 0;
      background: $c_l_light;
    }
  }

  @media (max-width: 1800px) {
    margin-left: 0;
    margin-right: 0;
  }
  @media (max-width: 767px) {
    &__filter {
      .form-group {
        label {width: 100%;}
      }
    }
    &__table {
      margin-top: 20px;
      width: 100%;
      table-layout: fixed;
      tr {
        th {
          white-space: normal;
          font-size: 16px;
          line-height: 16px;
          &:nth-child(2) {min-width: auto}
          & + th {
            padding-left: 5px;
          }
          &:nth-child(1) {width: 70px;}
        }
        td {
          word-wrap: break-word;
          overflow-wrap: break-word;
          font-size: 12px;
          line-height: 14px;
          & + td {
            padding-left: 5px;
          }
        }
      }
    }
  }
}

.consult-one {
  margin: 0 70px;
  &__title {
    font-size: 18px;
    padding: 5px;
    font-family: "SegoeUIBold";
    margin: 20px 0 10px;
    background: #f0efee;
  }
  &__content {
    font-size: 16px;
    line-height: 18px;
    margin: 10px 0;
  }

  @media (max-width: 1800px) {
    margin-left: 0;
    margin-right: 0;
  }
  @media (max-width: 767px) {
    &__title {
      font-size: 16px;
      line-height: 18px;
    }
    &__content {
      font-size: 14px;
      line-height: 16px;
    }
  }
}