.invest {
  margin: 30px 70px 20px;
  .tr {
    display: flex;
    &:hover .td {
      color: $c_main_l;
    }
    .th,.td {
      &:nth-child(1) {
        width: 42%;
      }
      &:nth-child(2) {
        width: 33%;
      }
      &:nth-child(3) {
        width: 25%;
      }

  @media (max-width: 1800px) {
    &:nth-child(1) {
        width: 40%;
      }
      &:nth-child(2) {
        width: 35%;
      }
  }
  @media (max-width: 1279px) {}
  &:nth-child(1) {
        width: 39%;
      }
      &:nth-child(2) {
        width: 36%;
      }
  @media (max-width: 1023px) {
    &:nth-child(1) {
        width: 34%;
      }
      &:nth-child(2) {
        width: 34%;
      }
      &:nth-child(3) {
        width: 32%;
      }}
  @media (max-width: 767px) {
    width: 33.333% !important;
  }
    }
    .th {
      display: inline-block;
      vertical-align: top;
      font-size: 18px;
      font-family: 'SegoeUIBold';
      white-space: nowrap;
      padding: 0 3px;
      padding-bottom: 30px;
      vertical-align: top;
      & + .th {
        padding-left: 40px;
      }
    }
    .td {
      display: inline-block;
      vertical-align: top;
      font-size: 16px;
      line-height: 18px;
      color: $c_blue;
      vertical-align: top;
      padding: 8px 3px;
      & + .td {
        padding-left: 40px;
      }
    }
    &:nth-child(2n) {
      background: #f0efee;
    }
  }

  @media (max-width: 1800px) {
    margin-left: 0;
    margin-right: 0;
  }

  @media (max-width: 1023px) {
    .tr {
      .th {
        white-space: normal;
        padding-bottom: 10px;
        &:nth-child(2) {min-width: 220px}
      }
    }
  }
  @media (max-width: 767px) {
    margin-top: 20px;
    width: 100%;
    .tr {
      .th {
        font-size: 16px;
        line-height: 16px;
        &:nth-child(2) {min-width: auto}
        & + .th {
          padding-left: 5px;
        }
      }
      .td {
        word-wrap: break-word;
        overflow-wrap: break-word;
        font-size: 12px;
        line-height: 14px;
        & + .td {
          padding-left: 5px;
        }
      }
    }
  }
}
.invest-last_questions {
  padding-top: 20px;
  margin: 0 70px;
  position: relative;
  &:before {
    content: '';
    position: absolute;
    top: 0;
    height: 1px;
    left: 0;
    right: 0;
    background: $c_l_light;
  }
  @media (max-width: 1800px) {
    margin-left: 0;
    margin-right: 0;
  }
}

.invest-one {
  margin: 30px 70px;
  &__title {
    font-size: 24px;
    font-family: 'SegoeUIBold';
    margin-bottom: 20px;
  }
  dl {
    display: flex;
    flex-wrap: wrap;
    dt,
    dd {
      padding: 5px 0;
      font-weight: normal;
    }
    dt {
      width: 28%;
      padding-right: 20px;
    }
    dd {
      width: 72%;
    }
  }
  @media (max-width: 1800px) {
    margin-left: 0;
    margin-right: 0;
    
  }
  @media (max-width: 767px) {
    &__title {
      font-size: 16px;
      margin-bottom: 10px;
      line-height: 18px;
    }
    dl {
      dt,dd {
        font-size: 14px;
        line-height: 14px;
        width: 50%;
      }
    }
  }
}
