section.feedback {
  margin: 40px 0 40px;
  color: $c_gray_darkest;
  position: relative;
  z-index: 1;
  &:before {
    content: '';
    position: absolute;
    z-index: -1;
    border: 1px solid $c_mark;
    top: 100px + 77px;
    left: 0;
    right: 0;
    bottom: -20px;
  }
  .feedback {
    &__title {
      position: relative;
      width: 100%;
      margin-bottom: 40px;
      padding-bottom: 10px;
      font-family: 'RobotoBold';
      font-size: 18px;
      color: $c_gray_darkest;
      &:before {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        max-width: 420px;
        height: 1px;
        content: '';
        background: $c_l_light;
      }
    }
    &__form {
      width: 800px;
      max-width: 100%;
      margin: auto;
      background: #fff;
      padding: 30px 60px 45px;
      font-size: 18px;
      position: relative;
      z-index: 1;
      &:before {
        content: '';
        position: absolute;
        z-index: -2;
        background: $c_mark;
        top: 140px;
        left: -40px;
        right: -40px;
        bottom: -40px;
      }
      &:after {
        content: '';
        position: absolute;
        z-index: -1;
        background: #fff;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        border: 1px solid #bfbfbf;
      }
      .title {
        font-size: 30px;
        line-height: 32px;
        font-family: 'RobotoBold';
        text-align: center;
        margin-bottom: 50px;
        margin-top: 10px;
      }

      .validate,
      .form-footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 30px;
      }
      margin-bottom: 70px;
    }
    &__contacts {
      width: 770px;
      margin: auto;
      display: flex;
      justify-content: space-between;
      .contact {
        width: 240px;
        font-size: 16px;
        line-height: 18px;
        text-align: center;
        &:nth-child(1) {
          text-align: left;
        }
        .title {
          text-transform: uppercase;
          font-family: 'SegoeUIBold';
          margin-bottom: 10px;
        }
      }
    }
  }

  @media (max-width: 1800px) {
    &:before {
      display: none;
    }
  }

  @media (max-width: 1023px) {
    .feedback {
      &__form {
        &:before {
          display: none;
        }
      }
      &__contacts {
        width: 100%;
      }
    }
  }
  @media (max-width: 767px) {
    margin-bottom: 10px;
    margin-top: 20px;
    .feedback {
      &__title {
        margin-bottom: 0;
      }
      &__form {
        &:after {display: none;}
        padding: 10px;
        margin-bottom: 10px;
        label {margin-bottom: 0;font-size: 16px;}
        .title {
          font-size: 24px;
          margin: 20px 0;
        }
        .form-row {margin: 0;
          .form-group {
            padding: 0;
          }}
        .validate {
          flex-wrap: wrap;
            margin-top: 10px;
          .text {
            font-size: 16px;
            width: 100%;
            margin-bottom: 10px;
          }
          .g-recaptcha {
            max-width: 100%;
            overflow: hidden;
          }
        }
        .form-footer {
          margin-top: 10px;
          flex-wrap: wrap;
          justify-content: flex-end;
          small {
            font-size: 12px;
            width: 100%;
            text-align: left;
            margin-bottom: 10px;
          }
        }
      }
      &__contacts {
        flex-wrap: wrap;
        border-width: 1px 0 1px;
        border-style: solid;
        border-color: $c_l_light;
        .contact {
          width: 50%;
          padding: 10px 0;
          font-size: 14px;
          line-height: 16px;
          &:nth-child(1) {
            width: 100%;
            text-align: center;
          }
          &:nth-child(2) {
            width: 55%;
          }
          &:nth-child(3) {
            width: 45%;
          }
        }
      }
    }
  }
}

.footer {
  display: flex;
  align-items: center;
  .footer {
    &__copyright {
      font-size: 13px;
      line-height: 16px;
      color: $c_gray_darkest;
      margin-right: 20px;
    }
    &__developer {
      flex-shrink: 0;
      font-size: 12px;
      line-height: 16px;
      display: block;
      color: #545454;
      transition: .25s;
      &:hover,
      &:active {
        text-decoration: none;
        color: $c_gray_dark;
      }
      .img-wrap {
        margin-right: 4px;
      }
      .img-wrap,
      .text {
        display: inline-block;
        vertical-align: middle;
      }
    }
  }
  @media (max-width: 767px) {
      flex-wrap: wrap;
      text-align: center;
    .footer {
      &__copyright {margin: 0;font-size: 14px;}
      &__developer {
        width: 100%;
        margin-top: 10px;
        margin-bottom: 10px;
      }
    }
  }

}
