.chosen-container {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  font-size: 13px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  .chosen-drop {
    position: absolute;
    top: 100%;
    z-index: 1010;
    width: 100%;
    // border: 1px solid #aaa;
    border-top: 0;
    background: #fff;
    // -webkit-box-shadow: 0 4px 5px rgba(0, 0, 0, 0.15);
    // box-shadow: 0 4px 5px rgba(0, 0, 0, 0.15);
    box-shadow: 0 8px 16px rgba(black,.1);
    clip: rect(0, 0, 0, 0);
  }
  &.chosen-with-drop .chosen-drop {
    clip: auto;
  }
  a {
    cursor: pointer;
  }
  .search-choice .group-name, .chosen-single .group-name {
    margin-right: 4px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-weight: normal;
    color: #999999;
  }
  .search-choice .group-name:after, .chosen-single .group-name:after {
    content: ":";
    padding-left: 2px;
    vertical-align: top;
  }
}

/* @end */
/* @group Single Chosen */

.chosen-container-single {
  .chosen-single {
    position: relative;
    display: block;
    overflow: hidden;
    padding: 0;
    padding-right: 30px;
    font-size: 18px;
    height: 26px;
    border-bottom: 1px solid #939598;
    background-color: #fff;
    text-decoration: none;
    white-space: nowrap;
    line-height: 20px;

  }
  .chosen-default {
    color: #999;
  }
  .chosen-single span {
    display: block;
    overflow: hidden;
    margin-right: 26px;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .chosen-single-with-deselect span {
    margin-right: 38px;
  }
  .chosen-single abbr {
    position: absolute;
    top: 6px;
    right: 26px;
    display: block;
    width: 12px;
    height: 12px;
    background: url("../img/chosen-sprite.png") -42px 1px no-repeat;
    font-size: 1px;
    &:hover {
      background-position: -42px -10px;
    }
  }
  &.chosen-disabled .chosen-single abbr:hover {
    background-position: -42px -10px;
  }
  .chosen-single div {
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    width: 18px;
    height: 100%;
    b {
      display: block;
      width: 100%;
      height: 100%;
      background: url("../img/chosen-sprite.png") no-repeat 0px 2px;
    }
  }
  .chosen-search {
    position: relative;
    z-index: 1010;
    margin: 0;
    padding: 3px 4px;
    white-space: nowrap;
    input[type="text"] {
      margin: 1px 0;
      padding: 4px 20px 4px 5px;
      width: 100%;
      height: auto;
      outline: 0;
      border: 1px solid #aaa;
      background: url("../img/chosen-sprite.png") no-repeat 100% -20px;
      font-size: 1em;
      font-family: sans-serif;
      line-height: normal;
      border-radius: 0;
    }
  }
  .chosen-drop {
    // margin-top: -1px;
    border-radius: 0 0 4px 4px;
    background-clip: padding-box;
  }
  &.chosen-container-single-nosearch .chosen-search {
    position: absolute;
    clip: rect(0, 0, 0, 0);
  }
}

/* @end */
/* @group Results */

.chosen-container .chosen-results {
  color: #444;
  position: relative;
  overflow-x: hidden;
  overflow-y: auto;
  margin: 0 4px 4px 0;
  padding: 0 0 0 4px;
  max-height: 240px;
  -webkit-overflow-scrolling: touch;
  li {
    display: none;
    margin: 10px;
    padding: 0px 2px;
    list-style: none;
    font-size: 18px;
    line-height: 24px;
    word-wrap: break-word;
    -webkit-touch-callout: none;
    &.active-result {
      display: list-item;
      cursor: pointer;
    }
    &.disabled-result {
      display: list-item;
      color: #ccc;
      cursor: default;
    }
    &.highlighted {
      background-color: #f2f2f2;
    }
    &.no-results {
      color: #777;
      display: list-item;
      background: #f4f4f4;
    }
    &.group-result {
      display: list-item;
      font-weight: bold;
      cursor: default;
    }
    &.group-option {
      padding-left: 15px;
    }
    em {
      font-style: normal;
      text-decoration: underline;
    }
    &.result-selected {

    }
  }
}

/* @end */
/* @group Multi Chosen */

.chosen-container-multi {
  .chosen-choices {
    position: relative;
    overflow: hidden;
    margin: 0;
    padding: 0 5px;
    width: 100%;
    height: auto;
    border: 1px solid #aaa;
    background-color: #fff;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(1%, #eee), color-stop(15%, #fff));
    background-image: linear-gradient(#eee 1%, #fff 15%);
    cursor: text;
    li {
      float: left;
      list-style: none;
      &.search-field {
        margin: 0;
        padding: 0;
        white-space: nowrap;
        input[type="text"] {
          margin: 1px 0;
          padding: 0;
          height: 25px;
          outline: 0;
          border: 0 !important;
          background: transparent !important;
          -webkit-box-shadow: none;
          box-shadow: none;
          color: #999;
          font-size: 100%;
          font-family: sans-serif;
          line-height: normal;
          border-radius: 0;
          width: 25px;
        }
      }
      &.search-choice {
        position: relative;
        margin: 3px 5px 3px 0;
        padding: 3px 20px 3px 5px;
        border: 1px solid #aaa;
        max-width: 100%;
        border-radius: 3px;
        background-color: #eeeeee;
        background-image: -webkit-gradient(linear, left top, left bottom, color-stop(20%, #f4f4f4), color-stop(50%, #f0f0f0), color-stop(52%, #e8e8e8), to(#eee));
        background-image: linear-gradient(#f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eee 100%);
        background-size: 100% 19px;
        background-repeat: repeat-x;
        background-clip: padding-box;
        -webkit-box-shadow: 0 0 2px #fff inset, 0 1px 0 rgba(0, 0, 0, 0.05);
        box-shadow: 0 0 2px #fff inset, 0 1px 0 rgba(0, 0, 0, 0.05);
        color: #333;
        line-height: 13px;
        cursor: default;
        span {
          word-wrap: break-word;
        }
        .search-choice-close {
          position: absolute;
          top: 4px;
          right: 3px;
          display: block;
          width: 12px;
          height: 12px;
          background: url("../img/chosen-sprite.png") -42px 1px no-repeat;
          font-size: 1px;
          &:hover {
            background-position: -42px -10px;
          }
        }
      }
      &.search-choice-disabled {
        padding-right: 5px;
        border: 1px solid #ccc;
        background-color: #e4e4e4;
        background-image: -webkit-gradient(linear, left top, left bottom, color-stop(20%, #f4f4f4), color-stop(50%, #f0f0f0), color-stop(52%, #e8e8e8), to(#eee));
        background-image: linear-gradient(#f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eee 100%);
        color: #666;
      }
      &.search-choice-focus {
        background: #d4d4d4;
        .search-choice-close {
          background-position: -42px -10px;
        }
      }
    }
  }
  .chosen-results {
    margin: 0;
    padding: 0;
  }
  .chosen-drop .result-selected {
    display: list-item;
    color: #ccc;
    cursor: default;
  }
}

/* @end */
/* @group Active  */

.chosen-container-active {
  .chosen-single {
    // border: 1px solid #5897fb;
    // -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    // box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  }
  &.chosen-with-drop .chosen-single {
    border-bottom: 1px solid $c_gray_darkest;
    // border-bottom-right-radius: 0;
    // border-bottom-left-radius: 0;
    // background-image: -webkit-gradient(linear, left top, left bottom, color-stop(20%, #eee), color-stop(80%, #fff));
    // background-image: linear-gradient(#eee 20%, #fff 80%);
    // -webkit-box-shadow: 0 1px 0 #fff inset;
    // box-shadow: 0 1px 0 #fff inset;
    div {
      border-left: none;
      background: transparent;
      b {
        background-position: -18px 2px;
      }
    }
  }
  .chosen-choices {
    border: 1px solid #5897fb;
    -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    li.search-field input[type="text"] {
      color: #222 !important;
    }
  }
}

/* @end */
/* @group Disabled Support */

.chosen-disabled {
  opacity: 0.5 !important;
  cursor: default;
  .chosen-single, .chosen-choices .search-choice .search-choice-close {
    cursor: default;
  }
}

/* @end */
/* @group Right to Left */

.chosen-rtl {
  text-align: right;
  .chosen-single {
    overflow: visible;
    padding: 0 8px 0 0;
    span {
      margin-right: 0;
      margin-left: 26px;
      direction: rtl;
    }
  }
  .chosen-single-with-deselect span {
    margin-left: 38px;
  }
  .chosen-single {
    div {
      right: auto;
      left: 3px;
    }
    abbr {
      right: auto;
      left: 26px;
    }
  }
  .chosen-choices li {
    float: right;
    &.search-field input[type="text"] {
      direction: rtl;
    }
    &.search-choice {
      margin: 3px 5px 3px 0;
      padding: 3px 5px 3px 19px;
      .search-choice-close {
        right: auto;
        left: 4px;
      }
    }
  }
  &.chosen-container-single .chosen-results {
    margin: 0 0 4px 4px;
    padding: 0 4px 0 0;
  }
  .chosen-results li.group-option {
    padding-right: 15px;
    padding-left: 0;
  }
  &.chosen-container-active.chosen-with-drop .chosen-single div {
    border-right: none;
  }
  .chosen-search input[type="text"] {
    padding: 4px 5px 4px 20px;
    background: url("../img/chosen-sprite.png") no-repeat -30px -20px;
    direction: rtl;
  }
  &.chosen-container-single {
    .chosen-single div b {
      background-position: 6px 2px;
    }
    &.chosen-with-drop .chosen-single div b {
      background-position: -12px 2px;
    }
  }
}

/* @end */
/* @group Retina compatibility */
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 144dpi), only screen and (min-resolution: 1.5dppx) {
  .chosen-rtl .chosen-search input[type="text"] {
    background-image: url("../img/chosen-sprite.png") !important;
    background-size: 52px 37px !important;
    background-repeat: no-repeat !important;
  }
  .chosen-container-single {
    .chosen-single {
      abbr, div b {
        background-image: url("../img/chosen-sprite.png") !important;
        background-size: 52px 37px !important;
        background-repeat: no-repeat !important;
      }
    }
    .chosen-search input[type="text"] {
      background-image: url("../img/chosen-sprite.png") !important;
      background-size: 52px 37px !important;
      background-repeat: no-repeat !important;
    }
  }
  .chosen-container-multi .chosen-choices .search-choice .search-choice-close {
    background-image: url("../img/chosen-sprite.png") !important;
    background-size: 52px 37px !important;
    background-repeat: no-repeat !important;
  }
  .chosen-container {
    .chosen-results-scroll-down span, .chosen-results-scroll-up span {
      background-image: url("../img/chosen-sprite.png") !important;
      background-size: 52px 37px !important;
      background-repeat: no-repeat !important;
    }
  }
}


  @media (max-width: 767px) {
    .chosen-container {
      pointer-events: none;
    }
    .form-group {
      position: relative;
    }
    select,
    select.form-control {
      // opacity: 0;
      max-width: 100% !important;
      width: 100% !important;
      display: block !important;
      position: absolute !important;
      right: 0;
      height: 26px !important;
      // margin-left: -10px;
    }
  }
