
@mixin underline () {
  background-image: linear-gradient(to top, rgba($c-mark,.4) 50%,rgba(0,0,0,0) 50%);
  background-size: 2px 200%;
  text-decoration: none;
  transition: background-size 500ms ease-out;

  &:hover {
    background-size: 2px 145%;
    transition-duration: 250ms;
    transition-timing-function: ease;
  }
}

html,
body {
  font-family: 'SegoeUIRegular', 'Roboto';
  color: $c_gray_darkest;
}
.icon-font {
  font-family: 'FontAwesome'; 
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.img-wrap {
  img {
    max-width: 100%;
    max-height: 100%;
  }
}

@mixin link-reset () {
  &,
  &:hover,
  &:active {
    cursor: pointer;
    text-decoration: none;
  }
}

.link-reset {
  @include link-reset();
}

.link-mark {
  @include link-reset();
  .text {
    position: relative;
    &:before {
      position: absolute;
      bottom: -$R/2;
      left: -$R;
      width: $R*6;
      width: 0;
      height: $R;
      content: '';
      transition: .25s;
      opacity: .4;
      background: $c-mark;
    }
  }
  &:hover,
  &.active {
    .text:before {
      width: $R*6;
    }
  }
}


.link-mark-all {
  @include link-reset();
  .text {@include underline();}
  
}

.link-title {
  transition: .25s;
  color: $c_gray_darkest;

  @include link-reset();
  &:hover {
    color: $c_main_l;
  }
}

@mixin link () {
  background: none;
  border: none;
  display: inline;
  vertical-align: baseline;
  transition: .15s;
  border-bottom: 1px solid;

  @include link-reset();
  &.red {
    color: $c_main_l;
    &:hover,
    &.active {
      color: $c_gray_dark;
    }
  }

  &.blue {
    color: $c_blue;
    &:hover,
    &.active {
      color: $c_main_l;
    }
  }
}
.link {
  @include link();
}


.svg-wrap {
  line-height: 0;
}
svg {
  max-width: 100%;
  max-height: 100%;
}
.star-required {
  color: $c_main_l;
}
@mixin btn-1 () {
  position: relative;
  display: inline-block;
  padding: 11px 10px 14px;
  font-size: 16px;
  cursor: pointer;
  transition: .25s;
  vertical-align: middle;
  white-space: nowrap;
  border: 2px solid $c_main_l;
  background: white;
  &:before {
    position: absolute;
    right: -10px;
    bottom: -10px;
    display: block;
    width: 28px;
    height: 28px;
    content: '';
    transition: .25s;
    transform-origin: 100% 100%;
    background: #fff;
  }
  .text {
    display: inline-block;
    vertical-align: middle;
    white-space: nowrap;
  }
  .svg-wrap {
    margin-left: 6px;
    display: inline-block;
    width: 20px;
    height: 18px;
    vertical-align: middle;
  }
  &.red {
    color: $c_main_l;
    .svg-wrap {
      fill: $c_main_l;
    }
    &:hover {
      color: #fff;
      background: $c_main_l;
      &:before {
        transform: scale(0);
      }
      .svg-wrap {
        fill: #fff;
      }
    }
  }
  &.disabled,
  &[disabled] {
    opacity: .5;
    pointer-events: none;
    cursor: error;
  }
}

.btn-1 {
  @include btn-1();
}

h1 {
  font-family: 'RobotoBold';
  font-size: 36px;
  line-height: 36px;
  @media (max-width: 767px) {
    font-size: 24px;
    line-height: 30px;
  }
}

.ps-container {
  margin: 30px 70px;

  @media (max-width: 1800px) {
    margin-left: 0;
    margin-right: 0;
  }
}

.ul-mark {
  list-style-type: none;
  margin: 5px 0 5px 20px;
  padding: 0;
  li {
    vertical-align: middle;
    &:before {
      content: '';
      display: inline-block;
      vertical-align: middle;
      margin-top: -4px;
      margin-right: 10px;
      margin-left: 4px;
      background-color: $c_main_l;
      font-size: 28px;
      height: 3px;
      width: 10px;
    }
  }
}

@media (max-width: 767px) {
  .breadcrumb {display: none;}
}


.info-message {
  position: fixed;
  z-index: 9999;
  background: rgba(black,.5);
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: flex;
  opacity: 0;
  transition: .5s;
  pointer-events: none;
  &.show {
    opacity: 1;
    pointer-events: auto;
  }

  &__content {
    margin: auto;
    padding: 40px 50px;
    text-align: center;
    color: &c_gray_darkest;
    font-size: 18px;
    line-height: 18px;
    background: white;
    box-shadow: 0 8px 16px rgba(black,.1);
  }
}